.App {
  text-align: center;
}

.center-table {
  display: flex;
  justify-content: center;
}

.wine-table {
  border-collapse: collapse;
  width: 40%;
}

.wine-table th,
.wine-table td {
  border: 1px solid #141414;
  padding: 18px;
  text-align: center;
}

.wine-table th {
  /* background-color: #f2f2f2; */
  font-weight: bold;
  color: #0f0f0f;
}

.bold-cell {
  font-weight: bold;
  color: #0f0f0f;
}

.wine-table {
  margin-top: 20px;
}
.head-center {
  text-align: center;
}
